@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Outfit&display=swap');

h1, h2, h3, h4, h5, h6 {
  color: #d41825;
  font-family: Mochiy Pop P One, Arial, sans-serif;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.4em;
}

h4, h5, h6 {
  font-size: 1.2em;
}

header, footer {
  display: block;
  background-color:#78d0dd;
  padding: 15px;
}



p {
  color: #0a1045;
  font-family: Outfit, Calibri, sans-serif
}

main {
  background-color: #dbb68f;
  padding: 5px;
}



a {
  color: #a409ca;
}

div {
  padding: 5px;
  
}

img {
  max-width: 100%;
}

section {
  border: 1px solid;
  padding: 5px;
}

button {
  font-size: 1.4em;
}


.center {
  
  text-align: center;
  justify-content: center;
  align-items: center;
}

.persona {
  margin-bottom: 30px;
}

#banner {
  display: none;
}

#call-to-action {
  margin: 10px auto;
  position: relative;
}

#call-to-action h2 {
  position: absolute;
  top: 35px;
  left: 35px;
}

#call-to-action h2::after {
  content: " - SMALL";
}

#call-to-action button {
  position: absolute;
  bottom: 35px;
  right: 35px;
}


/*
#logo-header {
  display: grid;
  grid-template-columns: 35% auto;
  align-items: center;
  grid-gap: 10px;
}
*/

#logo-header {
  display: grid;
  grid-template-columns: 25% auto;
  align-items: center;
  grid-gap: 10px;
}

#date-social {
  display: flex;
  justify-content: space-between;
}

#social img {
  max-width: 25%;
}

#join {
  display: none;
}

#spotlight3 {
  display: none;
}

/*hamburger*/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {
  
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  
  background-color:#eee;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
