@media (min-width: 60em) {

  nav button {display: none;}

  nav ul#primaryNav {
    display: flex;
    justify-content: space-around;
    margin-left: 2vw;
  }

  nav ul li a {
    border: none;
  }

  section {
    padding: 5px;
  }

  #call-to-action img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #call-to-action h2::after {
    content: " - LARGE";
  }

  /*grid below*/
  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
  }

  #call-to-action {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  #news-release {
    grid-column: 2/3;
    grid-row: 3; 
  }

  #spotlights {
    grid-column: 3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  #spotlight3 {
    
    grid-column: 3;
    grid-row: 3;
    display: block;
   
  }

  #join {
    display: block;
    grid-column: 1;
    grid-row: 3;
  }

  #event-weather {
    grid-column: 1;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  /*grid above*/
  


}