
/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {

  /*grid below*/
  main {
    display: flex;
    flex-flow: column;
  }

  #call-to-action h2 {
    position: absolute;
    top: 35px;
    left: 35px;
  }
  
  #call-to-action button {
    position: absolute;
    bottom: 60px;
    right: 35px;
  }

  #call-to-action h2::after {
    content: " - MEDIUM";
  }

  #news-release {
    order: 0;
  }

  #spotlights {
    order: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #join {
    display: block;
    order: 2;
  }

  #event-weather {
    order: 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  /*grid above*/

}