
/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {

  nav button {display: none;}

  nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0,0,0,0.3);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
  }


}