@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Outfit&display=swap');

h1, h2, h3, h4, h5, h6 {
  color: #d41825;
  font-family: Mochiy Pop P One, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0px;
  font-size: 1.4em;

}

h3, h4, h5, h6 {
  font-size: 1.2em;
}

p {
  color: #0a1045;
  font-family: Outfit, Calibri, sans-serif
}

header, footer {
  display: block;
  background-color:#78d0dd;
  padding: 15px;
}

main {
  background-color: #ffebc2;
  padding: 5px;
}

a {
  color: #a409ca;
}

img {
  max-width: 100%;
}

section, div, aside {
  border: 1px solid;
  padding: 5px;
}

button {
  font-size: 1.4em;
}

iframe {
  width: 350px;
  height: 250px;
}

.center {
  
  text-align: center;
  justify-content: center;
}

.right {
  
  text-align: right;
  justify-content: right;
}

.persona {
  margin-bottom: 30px;
}

#call-to-action {
  background-image: url("../images/index/suite-small.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  height: 250px;
}

#call-to-action h1 {
  
  /*color: #eeff58;
  position: absolute;
  top: 60px;
  left: 60px;*/
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#call-to-action button {
  position: absolute;
  bottom: 25px;
}

#logo:hover {

filter: drop-shadow(5px 2px 2px #fff);
}

/* 
#siteLogo:hover {
  -webkit-filter: drop-shadow(5px 2px 2px #0B0B0B);
filter: drop-shadow(5px 2px 2px #0B0B0B);
}
*/

/*hamburger*/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {
  
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color:#eee;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*end humburger*/

/*alert div*/
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*end alert div*/

/*index slides*/


.slide {display: none;}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*end index slides*/
