@media (min-width: 52em) {

  #call-to-action {
    background-image: url("../images/index/suite-large.webp");
    height: 400px;
    max-width: 100%;
    background-attachment: fixed;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro, .weather {grid-column: 1/3;}

  .weather {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  iframe {
    width: 600px;
    height: 400px;
  }

  .cards section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards button {display: none;}
  div.info {display: block}

  #destination {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
  }

  #destination label {padding: 10px;}

  #destination select, #destination input{
    padding: 5px;
    margin-top: 10px;
  }

  #location {grid-column: 2/5;}

  #pref {
    grid-column: 1/5;
    display: inline;
  }

  #comments {
    max-width: 750px;
    min-width: 750px;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}