@media (min-width: 52em) {



  #call-to-action {
    background-image: url("../images/index/suite-large.webp");
    height: 400px;
    max-width: 100%;
    background-attachment: fixed;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro, .weather {
    grid-column: 1/3;
  }

  .weather {
    display: grid;
    grid-template-columns: 2fr 3fr;

  }

  iframe {
    width: 500px;
    height: 400px;
  }

}