@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Outfit&display=swap');

h1, h2, h3, h4, h5, h6 {
  color: #d41825;
  font-family: Mochiy Pop P One, Arial, sans-serif;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.4em;
}

h4, h5, h6 {
  font-size: 1.2em;
}

header, footer {
  display: block;
  background-color:#78d0dd;
  padding: 15px;
}

p {
  color: #0a1045;
  font-family: Outfit, Calibri, sans-serif
}

main {
  background-color: #dbb68f;
  padding: 5px;
}

body {
  background-color: #ccc;
}

a {
  color: #a409ca;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;

  font-size: 1.1em;
}

div {
  padding: 5px;
}

img {
  max-width: 100%;
}


.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.persona {
  margin-bottom: 30px;
}


#logo-header {
  display: grid;
  grid-template-columns: 35% auto;
  align-items: center;
  grid-gap: 10px;
}

#content {
  max-width:90%;
  margin: 0 auto;
}


@media (min-width: 32.5em) {
  nav ul { display: flex; }
  nav ul li { flex: 1 1 auto; }

  .persona {
    display: grid;
    grid-template-columns: 40% auto;
  }

  h1 {
    font-size: 1.6em;
  }

}

@media (min-width: 64em) {
  #personas {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .persona {
    padding: 5px;
  }

  h1 {
    font-size: 2em;
  }

  
}